[submodule "Classification"]
	path = Classification
	url = https://github.com/Nomoos/PrismQ.IdeaInspiration.Classification.git
	branch = main
[submodule "mod/Scoring"]
	path = mod/Scoring
	url = https://github.com/Nomoos/PrismQ.IdeaInspiration.Scoring.git
	branch = main
[submodule "mod/Model"]
	path = mod/Model
	url = https://github.com/Nomoos/PrismQ.IdeaInspiration.Model.git
	branch = main
[submodule "mod/Classification"]
	path = mod/Classification
	url = https://github.com/Nomoos/PrismQ.IdeaInspiration.Classification.git
	branch = main
